<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="hivebot_trolley">
  <link name="world"/>
  <link name="base_footprint" xmlns:xacro="http://www.ros.org/wiki/xacro"/>

  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0.05" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0235732763735559 -1.16156711654192E-16 -0.0393476182287232"
        rpy="0 0 0" />
      <mass
        value="63.3540430981409" />
      <inertia
        ixx="1.19803483723971"
        ixy="3.94354928014663E-16"
        ixz="0.00926065111324139"
        iyy="2.11869396240118"
        iyz="2.70482966665085E-18"
        izz="3.24789298834746" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="compartment-2-to-base"
    type="fixed">
    <origin
      xyz="-0.2 -0.125 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="compartment-2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_wheel_mount_plate_1">
    <inertial>
      <origin
        xyz="0 0 0.00372376098180309"
        rpy="0 0 0" />
      <mass
        value="0.0885122104446696" />
      <inertia
        ixx="4.96589186338358E-05"
        ixy="8.76460525250229E-21"
        ixz="4.57370748529084E-22"
        iyy="4.96589186338358E-05"
        iyz="-1.38813531491213E-23"
        izz="9.88794947001013E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_mount_plate_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_mount_plate_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_wheel_mount_plate_1_tobase"
    type="fixed">
    <origin
      xyz="0.28 -0.205 -0.086"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_wheel_mount_plate_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_wheel_holder_1">
    <inertial>
      <origin
        xyz="0 -5.55111512312578E-17 -0.0353498305391301"
        rpy="0 0 0" />
      <mass
        value="0.40765592096642" />
      <inertia
        ixx="0.000762776791330026"
        ixy="1.03138220220553E-05"
        ixz="6.91311896835273E-20"
        iyy="0.000501675770186767"
        iyz="-1.75192826322455E-19"
        izz="0.000528106575482838" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_holder_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_holder_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_wheel_holder_1_toplate"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="front_wheel_mount_plate_1" />
    <child
      link="front_wheel_holder_1" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="front_wheel_1">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 8.32667268468867E-17 -5.55111512312578E-17"
        rpy="0 0 0" />
      <mass
        value="1.73558464244813" />
      <inertia
        ixx="0.00211027858785498"
        ixy="-5.2803822366633E-05"
        ixz="1.94419187005969E-19"
        iyy="0.00344704122644933"
        iyz="-2.97963645002492E-19"
        izz="0.00210819601428248" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_wheel_1_toholder"
    type="fixed">
    <origin
      xyz="0 0 -0.081"
      rpy="0 0 0" />
    <parent
      link="front_wheel_holder_1" />
    <child
      link="front_wheel_1" />
    <axis
      xyz="-0.0394091875345171 0.99922315622581 0" />
  </joint>
  <link
    name="front_wheel_mount_plate_2">
    <inertial>
      <origin
        xyz="0 -2.77555756156289E-17 0.00372376098180309"
        rpy="0 0 0" />
      <mass
        value="0.0885122104446697" />
      <inertia
        ixx="4.96589186338359E-05"
        ixy="1.33252491072572E-20"
        ixz="1.0447510163914E-22"
        iyy="4.96589186338359E-05"
        iyz="6.3556804032152E-22"
        izz="9.88794947001014E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_mount_plate_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_mount_plate_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_wheel_mount_plate_2_tobase"
    type="fixed">
    <origin
      xyz="0.28 0.205 -0.086"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_wheel_mount_plate_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_wheel_holder_2">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 -5.55111512312578E-17 -0.0353498305391302"
        rpy="0 0 0" />
      <mass
        value="0.40765592096642" />
      <inertia
        ixx="0.00076152629456158"
        ixy="2.07681767546495E-05"
        ixz="-6.15417341469107E-20"
        iyy="0.000502926266955213"
        iyz="3.73082590857221E-19"
        izz="0.000528106575482838" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_holder_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_holder_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_wheel_holder_2_toplate"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="front_wheel_mount_plate_2" />
    <child
      link="front_wheel_holder_2" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="front_wheel_2">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 0 0"
        rpy="0 0 0" />
      <mass
        value="1.73558464244813" />
      <inertia
        ixx="0.00211668077407555"
        ixy="-0.000106327132064745"
        ixz="-2.97271341358694E-19"
        iyy="0.00344063904022875"
        iyz="-1.72056927832268E-21"
        izz="0.00210819601428248" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/front_wheel_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_wheel_2_toholder"
    type="fixed">
    <origin
      xyz="0 0 -0.081"
      rpy="0 0 0" />
    <parent
      link="front_wheel_holder_2" />
    <child
      link="front_wheel_2" />
    <axis
      xyz="0.0795457683033873 -0.996831214772603 0" />
  </joint>
  <link
    name="back_wheel_holder_2">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 0.12370581952403 2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="3.69062219624929" />
      <inertia
        ixx="0.00912658772080383"
        ixy="8.63502453250557E-19"
        ixz="-5.57023878196132E-19"
        iyy="0.00672881943632791"
        iyz="-2.81940192519475E-19"
        izz="0.0103145877208038" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/back_wheel_holder_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/back_wheel_holder_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_wheel_holder_2_tobase"
    type="fixed">
    <origin
      xyz="-0.2185 -0.25 -0.13"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="back_wheel_holder_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="back_wheel_2">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 0.0399999999999996 4.16333634234434E-16"
        rpy="0 0 0" />
      <mass
        value="7.27255451520401" />
      <inertia
        ixx="0.0256368152469609"
        ixy="-3.1162102280413E-18"
        ixz="-1.17965325757309E-22"
        iyy="0.0435162390110376"
        iyz="2.68645908030935E-18"
        izz="0.0256368152469609" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/back_wheel_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/back_wheel_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_wheel_2_toholder"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="back_wheel_holder_2" />
    <child
      link="back_wheel_2" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="back_wheel_holder_1">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 -0.12370581952403 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="3.69062219624929" />
      <inertia
        ixx="0.00912658772080382"
        ixy="-5.58383894595012E-19"
        ixz="8.67342168411457E-19"
        iyy="0.00672881943632791"
        iyz="6.69411038953511E-20"
        izz="0.0103145877208038" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/back_wheel_holder_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/back_wheel_holder_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_wheel_holder_1_tobase"
    type="fixed">
    <origin
      xyz="-0.2185 0.25 -0.13"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="back_wheel_holder_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="back_wheel_1">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 -0.04 0"
        rpy="0 0 0" />
      <mass
        value="7.27255451520401" />
      <inertia
        ixx="0.0256368152469609"
        ixy="-2.25459743055601E-18"
        ixz="1.57683124065269E-19"
        iyy="0.0435162390110376"
        iyz="4.84744605090424E-18"
        izz="0.0256368152469609" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/back_wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/back_wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_wheel_1_toholder"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="back_wheel_holder_1" />
    <child
      link="back_wheel_1" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="guiding_frame-2">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 -1.36557830061531E-16 -0.52082343378767"
        rpy="0 0 0" />
      <mass
        value="15.546168" />
      <inertia
        ixx="1.04667928751446"
        ixy="-1.21627735877006E-18"
        ixz="9.73209658663459E-17"
        iyy="0.99672874017046"
        iyz="1.5679887871354E-16"
        izz="0.076308340032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/guiding_frame-2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/guiding_frame-2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="guiding-frame-2-tobase"
    type="fixed">
    <origin
      xyz="0.275 0 0.81"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="guiding_frame-2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="mount-box">
    <inertial>
      <origin
        xyz="-3.33066907387547E-16 -5.43166688588743E-17 8.31973379078477E-13"
        rpy="0 0 0" />
      <mass
        value="3.88364559868246" />
      <inertia
        ixx="0.00932475709657866"
        ixy="-3.73105112956337E-19"
        ixz="-7.61186554870903E-19"
        iyy="0.00785069349852472"
        iyz="3.77869461474261E-19"
        izz="0.00784612520652471" />
    </inertial>
    <visual>
      <origin
        xyz="0.005 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/mount-box.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.005 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/mount-box.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="mount_box_to_frame"
    type="prismatic">
    <origin
      xyz="0 0 -0.57843375382"
      rpy="0 0 0" />
    <parent
      link="guiding_frame-2" />
    <child
      link="mount-box" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.48"
      effort="1000"
      velocity="0" />
  </joint>
  <link
    name="surrounding-frame">
    <inertial>
      <origin
        xyz="0.0846729181735194 0.000767773564878785 0.214525253910696"
        rpy="0 0 0" />
      <mass
        value="82.7476434299921" />
      <inertia
        ixx="3.78200016445154"
        ixy="-0.00222325591596084"
        ixz="-0.0201090148476572"
        iyy="3.39224065150316"
        iyz="-0.00236895559099694"
        izz="1.86426383436205" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/surrounding-frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/surrounding-frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="surrounding-frame-to-base"
    type="fixed">
    <origin
      xyz="0.0749999999999998 0 0.16"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="surrounding-frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="cover-door">
    <inertial>
      <origin
        xyz="-0.150040997767576 -0.137889670402826 0.000346830907110185"
        rpy="0 0 0" />
      <mass
        value="2.05892920065877" />
      <inertia
        ixx="0.0140981800413022"
        ixy="-8.61535975977684E-06"
        ixz="2.2775979768361E-06"
        iyy="0.0153884352208601"
        iyz="4.71234485426862E-05"
        izz="0.0293377145153787" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/cover-door.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.3" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/cover-door.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cover-door-to-frame"
    type="fixed">
    <origin
      xyz="0.0899999999999999 0.118551612567476 0.64"
      rpy="0 0 0" />
    <parent
      link="surrounding-frame" />
    <child
      link="cover-door" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="tablet">
    <inertial>
      <origin
        xyz="-0.00212538959044117 -1.36883635898138E-05 0.00206874607906293"
        rpy="0 0 0" />
      <mass
        value="0.886766298135032" />
      <inertia
        ixx="0.00278972059920181"
        ixy="1.27724561345949E-07"
        ixz="-0.000432117490733407"
        iyy="0.000869274675297478"
        iyz="1.28403830937449E-07"
        izz="0.00278929527162149" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/tablet.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/tablet.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tablet-to-frame"
    type="fixed">
    <origin
      xyz="-0.323639610306789 0.001 0.579289321881345"
      rpy="0 0 0" />
    <parent
      link="surrounding-frame" />
    <child
      link="tablet" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="handle">
    <inertial>
      <origin
        xyz="-0.0683128872678795 0.2 0"
        rpy="0 0 0" />
      <mass
        value="1.03600411126002" />
      <inertia
        ixx="0.0211986755913615"
        ixy="-3.76213226232454E-18"
        ixz="5.2805489928396E-20"
        iyy="0.000609084661143678"
        iyz="-5.58622665846924E-19"
        izz="0.0216912097899884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/handle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/handle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handle-to-frame"
    type="fixed">
    <origin
      xyz="-0.4 -0.2 0.47"
      rpy="0 0 0" />
    <parent
      link="surrounding-frame" />
    <child
      link="handle" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="tools">
    <inertial>
      <origin
        xyz="0.0135685512178612 -0.226707429071848 0.000429751102776738"
        rpy="0 0 0" />
      <mass
        value="1.10101723384343" />
      <inertia
        ixx="0.00181676017997894"
        ixy="-5.7000778196603E-19"
        ixz="2.91688343620181E-05"
        iyy="0.00170795242556321"
        iyz="-4.21950089664413E-19"
        izz="0.00133528189029824" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/tools.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/tools.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tools-to-frame"
    type="fixed">
    <origin
      xyz="0.243049636115999 0.226707429071858 0.0599999999999998"
      rpy="0 0 0" />
    <parent
      link="surrounding-frame" />
    <child
      link="tools" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="compartment-1">
    <inertial>
      <origin
        xyz="0.0159462607609362 -0.00910725247573026 0.274676056153122"
        rpy="0 0 0" />
      <mass
        value="1.05739476651221" />
      <inertia
        ixx="0.033888709501066"
        ixy="1.08388147884056E-17"
        ixz="-1.95856102547443E-19"
        iyy="0.0369783137022633"
        iyz="0.000886251680853717"
        izz="0.0144797683018268" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/compartment-1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/compartment-1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="compartment-1-tobase"
    type="fixed">
    <origin
      xyz="-0.2 0.125 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="compartment-1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="door-1">
    <inertial>
      <origin
        xyz="-0.103829601822913 0.000286037081769358 0.295291950301883"
        rpy="0 0 0" />
      <mass
        value="0.209666054570214" />
      <inertia
        ixx="0.00608838595202948"
        ixy="2.38341449388362E-06"
        ixz="-6.35562463955881E-06"
        iyy="0.00695354335829767"
        iyz="1.75089212787349E-08"
        izz="0.000868657642586339" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/door-1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/door-1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="door-1-to-compartment"
    type="fixed">
    <origin
      xyz="0.0999999999999994 0.115 0.00999999999999993"
      rpy="0 0 0" />
    <parent
      link="compartment-1" />
    <child
      link="door-1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="compartment-2">
    <inertial>
      <origin
        xyz="0.0159462607609365 0.00910725247573027 0.274676056153122"
        rpy="0 0 0" />
      <mass
        value="1.05739476651221" />
      <inertia
        ixx="0.033888709501066"
        ixy="1.20681831383722E-17"
        ixz="3.61843005233635E-18"
        iyy="0.0369783137022634"
        iyz="-0.000886251680853721"
        izz="0.0144797683018268" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/compartment-2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/compartment-2.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="door-2">
    <inertial>
      <origin
        xyz="-0.103778785036784 -0.00326064536650364 0.295291950301883"
        rpy="0 0 0" />
      <mass
        value="0.209666054570215" />
      <inertia
        ixx="0.00608923261026625"
        ixy="-2.71561499219606E-05"
        ixz="-6.35251403899478E-06"
        iyy="0.00695269670006093"
        iyz="-1.99590845658357E-07"
        izz="0.000868657642586341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/door-2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hivebot_trolley/meshes/door-2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="door-2-to-compartment"
    type="fixed">
    <origin
      xyz="0.1 -0.115 0.00999999999999982"
      rpy="0 0 0" />
    <parent
      link="compartment-2" />
    <child
      link="door-2" />
    <axis
      xyz="0 0 1" />
  </joint>

  <joint name="world_base" type="fixed">
    <origin xyz="0 0 0.2"/>
    <parent link="world"/>
    <child link="base_footprint"/>
  </joint>

</robot>