<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="trolley_arm_description">

    <xacro:macro name="trolley_arm_macro">
        <xacro:arg name="ros_namespace" default="toilet_trolley_arm_description"/>

        <!-- load trolley -->
        <xacro:include filename="$(find hivebot_trolley)/urdf/hivebot_trolley.xacro" />

        <!-- load mycobot_pro_320 -->
        <xacro:include filename="$(find mycobot_320)/urdf/mycobot_robot_macro.xacro" />

        <!-- include gazebo transmissions -->
        <xacro:include filename="$(find trolley_arm_description)/urdf/trolley_arm.gazebo.xacro"/>

        <xacro:mycobot_pro_robot_macro attach_to="mount-box" xyz="0.05 0 0" rpy="0 1.5707 0"/>
    </xacro:macro>

    <xacro:trolley_arm_macro/>

</robot>